* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: "Inter", sans-serif;
}

:root {
	--darkblue300: #0a3871;
	--lightblue300: #e9ecf8;
	--gray300: #868e96;
	--gray400: #495057;
	--gray500: #343a40;
	--font-size: 16px;
}

body {
	display: flex;
	margin: 40px;
	background-color: var(--lightblue300);
	font-size: var(--font-size);
}

main {
	display: flex;
	flex: 1 1 auto;
	gap: 80px;
	margin: 40px 40px 40px 80px;
}

.section-esquerda {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	margin: 80px 0 72px 80px;
}

#textarea {
	height: 100%;
	background-color: transparent;
	color: var(--darkblue300);
	font-size: 2rem;
	resize: none;
	border: none;
}

#textarea::placeholder {
	color: var(--darkblue300);
	border: 0;
}

#textarea:focus {
	outline: 0;
}

.alerta {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 8px;
	margin: 0.313rem 0 1rem 0;
	margin-bottom: 1rem;
}

.texto-alerta {
	color: var(--gray400);
}

.botoes {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1.5rem;
}

.btn-criptografar {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	background-color: var(--darkblue300);
	color: white;
	padding: 1.5rem;
	border: 0;
	border-radius: 1.5rem;
	transition: box-shadow 0.3s ease;
}

.btn-criptografar:hover {
	box-shadow: 0 0.313rem 0.625rem rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.btn-descriptografar {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	background-color: #d8dfe8;
	color: var(--darkblue300);
	padding: 1.5rem;
	border: 0.063rem solid var(--darkblue300);
	border-radius: 1.5rem;
	transition: box-shadow 0.3s ease;
}

.btn-descriptografar:hover {
	box-shadow: 0 0.313rem 0.625rem rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

/* SECTION DIREITA */

.section-direita {
	display: flex;
	flex-direction: column;
	flex: 0 1 auto;
	background-color: white;
	border-radius: 32px;
	box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
	align-items: center;
	justify-content: center;
	/* gap: 2.94em; */
	width: 400px;
	height: 650px;
}

#boneco-img {
	display: flex;
	flex: 0 1 auto;
	margin: 2.5rem 2.5rem auto 2.5rem;
}

#msg-nao-encontrada {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
	padding: 0 2.22% 0 2.22%;
	justify-content: center;
	text-align: center;
	max-width: 21rem;
	gap: 1rem;
}

#msg-nao-encontrada h3 {
	color: var(--gray500);
}

#msg-nao-encontrada p {
	color: var(--gray400);
}

/* RESULTADO DA CRIPTOGRAFIA */
#resultado {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 32px 0 32px 0;
	height: 85vh;
}

#texto-resultado {
	text-align: center;
	word-break: break-word;
	margin: 32px;
	font-size: 24px;
	color: var(--gray400);
}

#btn-copiar {
	padding: 1.5rem;
	margin: auto 2rem 2.5rem 2rem;
	border-radius: 1.5rem;
	border: 1px solid var(--darkblue300);
	color: var(--darkblue300);
	background-color: transparent;
	transition: box-shadow 0.3s ease;
}

#btn-copiar:hover {
	box-shadow: 0 0.313rem 0.625rem rgba(0, 0, 0, 0.5);
	cursor: pointer;
}
